extends layout

block content
  include ./sample/title

  button(onClick="partial('/time')") reload time
  button(onClick="partial('/multi')") reload multiple

  #output
    include ./sample/time

  h2 Sample Form

  include ./sample/form

  ul.messages
    each message in messages
      include ./sample/message
