doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script
      | var exports = {};
    script(src='https://partialfetch.netlify.app/index.js')
  body
    block content
